/* line 13, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 18, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
a:hover {
  color: inherit;
  text-decoration: none; }

/* line 23, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.land_header {
  background-color: #272727;
  height: 80px; }

/* line 28, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_grey-1 {
  background-color: #191919; }

/* line 32, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_grey-2 {
  background-color: #272727; }

/* line 36, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_green {
  background-color: #B9FFDD; }

/* line 40, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.white_18 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #CACACA;
  letter-spacing: 0;
  line-height: 29px; }

/* line 50, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.on_hover_green:hover {
  color: #B9FFDD; }

/* line 55, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.active_green {
  color: #B9FFDD;
  border-top: solid 6px;
  margin-top: -33px;
  padding-top: 33px; }

/* line 62, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.h1 {
  padding-top: 69px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #272727;
  letter-spacing: 0; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 62, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .h1 {
      padding-top: 22px;
      text-align: center;
      font-size: 32px; } }

/* line 78, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.h1_ru {
  font-size: 34px;
  padding-top: 69px; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 78, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .h1_ru {
      padding-top: 22px; } }

/* line 87, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #191919;
  letter-spacing: 0;
  line-height: 30px; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 87, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_txt {
      color: #CACACA;
      font-family: OpenSans-Light;
      padding-left: 20px;
      padding-right: 20px; } }

/* line 104, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.additional_sign {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #848080;
  letter-spacing: 0;
  line-height: 25px; }

/* line 113, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_hero_btn {
  background-color: #F0A202;
  border-radius: 11px;
  height: 39px;
  cursor: pointer;
  width: 230px; }
  /* line 120, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .Landing_hero_btn:hover {
    transform: scale(1.04);
    transition: transform .3s; }
    /* line 125, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .Landing_hero_btn:hover .Landing_hero_btn_in {
      width: 100%; }

/* line 132, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_hero_btn_in {
  border-radius: 11px;
  height: 36px;
  padding-top: 4px;
  background-color: #F7C358;
  border: 1px solid #F0A202;
  font-size: 18px;
  font-weight: 600;
  color: #191919;
  letter-spacing: 0;
  text-align: center; }

/* line 146, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.section_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #F0A202;
  text-align-last: left; }
  @media (min-width: 320px) and (max-width: 992px) {
    /* line 146, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .section_title {
      text-align-last: center;
      padding-top: 20px;
      padding-bottom: 20px; } }

/* line 160, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.section_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #CACACA;
  letter-spacing: 0;
  line-height: 30px; }
  @media (min-width: 320px) and (max-width: 992px) {
    /* line 160, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .section_txt {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 20px; } }

/* line 176, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #191919;
  text-align: center;
  padding-top: 77px;
  padding-bottom: 15px; }

/* line 186, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_red_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #AA4465;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 30px; }

/* line 196, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_grey_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #191919;
  letter-spacing: 0;
  text-align: center; }

/* line 206, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_img {
  height: 429px;
  width: auto;
  position: relative; }
  @media (min-width: 1440px) {
    /* line 206, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -65px; } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    /* line 206, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -65px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    /* line 206, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -103px; } }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 206, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      height: 300px;
      bottom: -26px; } }

/* line 233, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_img_ru {
  height: 429px;
  width: auto;
  position: relative; }
  @media (min-width: 1440px) {
    /* line 233, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img_ru {
      bottom: -65px; } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    /* line 233, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img_ru {
      bottom: -65px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    /* line 233, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img_ru {
      bottom: -129px; } }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 233, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img_ru {
      height: 300px;
      bottom: -26px; } }

/* line 258, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_image_col {
  height: 100px;
  height: auto; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 258, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_image_col {
      height: 280px; } }

/* line 268, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.side_img {
  width: calc(100% - 0px);
  height: auto;
  position: relative; }

/* line 274, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.side_img_how_it_works {
  width: calc(60% - 0px);
  height: auto;
  position: relative;
  max-width: 357px; }

@media (min-width: 1440px) {
  /* line 281, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 66px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 281, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 66px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 281, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 26px; } }

@media (min-width: 1440px) {
  /* line 296, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 95px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 296, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 125px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 296, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 25px; } }

/* line 313, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.how_it_img {
  margin-left: calc(50% - 165px); }
  @media (min-width: 1440px) {
    /* line 313, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_img {
      padding-top: 66px;
      padding-top: 20px;
      max-width: 331px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 313, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_img {
      padding-top: 66px;
      padding-top: 20px;
      max-width: 331px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 313, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_img {
      padding-top: 26px;
      padding-top: 20px;
      max-width: 280px !important;
      margin-left: calc(50% - 140px); } }

@media (min-width: 1440px) {
  /* line 337, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 337, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 337, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 1440px) {
  /* line 362, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 0px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 362, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 362, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px; } }

@media (min-width: 1440px) {
  /* line 384, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 66px;
    max-width: 317px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 384, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 66px;
    max-width: 317px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 384, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 26px;
    max-width: 317px; } }

/* line 404, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.authorship_soon_paddings {
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1440px) {
    /* line 404, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 70px;
      padding-bottom: 90px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 404, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 70px;
      padding-bottom: 90px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 404, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 0px;
      padding-bottom: 0px; } }

/* line 425, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.authorship_paddings_inner {
  padding-bottom: 60px;
  padding-top: 40px; }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 425, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_paddings_inner {
      padding-bottom: 60px;
      padding-top: 0px; } }

@media (min-width: 1440px) {
  /* line 439, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 70px;
    padding-bottom: 10px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 439, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 70px;
    padding-bottom: 10px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 439, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 10px;
    padding-bottom: 10px; } }

/* line 456, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.property_container {
  padding-top: 0px;
  padding-bottom: 0px; }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 456, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_container {
      padding-bottom: 40px; } }

/* line 465, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.art_value_paddings {
  padding-top: 40px; }
  @media (min-width: 1440px) {
    /* line 465, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 80px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 465, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 80px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 465, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 50px; } }

@media (min-width: 1440px) {
  /* line 482, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 60px;
    padding-bottom: 0px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 482, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 60px;
    padding-bottom: 120px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 482, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 0px;
    padding-bottom: 70px; } }

/* line 500, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.fb_link {
  color: #F0A202;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline; }
  /* line 507, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .fb_link:hover {
    color: #7678ED;
    text-decoration: underline; }

@media (min-width: 1440px) {
  /* line 513, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .value_img_ru {
    margin-top: 90px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 513, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .value_img_ru {
    margin-top: 90px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 513, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .value_img_ru {
    padding-top: 26px; } }

/* line 528, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.footer_img {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer; }

/* line 534, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.how_it_works_paddings {
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1440px) {
    /* line 534, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_works_paddings {
      padding-top: 70px;
      padding-bottom: 90px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 534, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_works_paddings {
      padding-top: 20px;
      padding-bottom: 90px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 534, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_works_paddings {
      padding-top: 30px;
      padding-bottom: 90px; } }

/* line 555, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.property_paddings {
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1440px) {
    /* line 555, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_paddings {
      padding-top: 70px;
      padding-bottom: 90px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 555, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_paddings {
      padding-top: 70px;
      padding-bottom: 90px;
      background-color: #242424; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 555, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_paddings {
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: #242424; } }

/* line 579, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.video_button_cont {
  position: absolute;
  top: 57%;
  border-radius: 14px;
  width: 84px;
  height: 60px; }
  @media (min-width: 1440px) {
    /* line 579, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: calc(50% - 30px); } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    /* line 579, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: calc(50% - 30px); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    /* line 579, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: calc(50% + 20px); } }
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 579, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: calc(50% + 20px); } }
  @media (min-width: 320px) and (max-width: 767px) {
    /* line 579, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: 156px;
      top: 54%; } }

/* line 609, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.video_btn {
  position: absolute;
  top: 0px;
  border-radius: 14px;
  width: 84px;
  height: 60px;
  background-color: #000;
  opacity: 0.6;
  cursor: pointer; }
  /* line 619, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .video_btn:hover {
    background-color: #FF0000;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    opacity: 0.8; }

/* line 629, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.play_triangle {
  position: absolute;
  top: 15px;
  left: 32px; }

/* line 635, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.video_btn_sgn {
  position: absolute;
  width: 100%;
  top: 66px;
  font-family: OpenSans-Italic;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center; }

/* line 647, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.button {
  background: none; }

/* line 651, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.section_href {
  color: #7678ED;
  font-weight: 300;
  text-decoration: underline;
  font-style: italic;
  margin-top: 40px;
  font-size: 16px; }
  /* line 659, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .section_href:hover {
    color: #AA4465;
    text-decoration: underline; }

@media (min-width: 1440px) {
  /* line 665, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .buy_img {
    margin-top: 36px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 665, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .buy_img {
    margin-top: 36px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 665, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .buy_img {
    margin-top: 36px; } }

/* line 680, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_bottom_hero_btn {
  background-color: #5C5ECC;
  border-radius: 11px;
  height: 39px;
  cursor: pointer;
  width: 230px; }
  /* line 687, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .Landing_bottom_hero_btn:hover {
    transform: scale(1.04);
    transition: transform .3s; }
    /* line 692, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .Landing_bottom_hero_btn:hover .Landing_hero_btn_in {
      width: 100%; }

/* line 699, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_bottom_hero_btn_in {
  border-radius: 11px;
  height: 40px;
  padding-top: 7px;
  background-color: #7678ED;
  border: 1px solid #5C5ECC;
  font-size: 16px;
  font-weight: 600;
  color: white;
  letter-spacing: 0;
  text-align: center; }

/* line 713, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hiw_title {
  font-family: OpenSans-Bold;
  font-size: 39px;
  color: #191919;
  letter-spacing: 0;
  text-align: center;
  padding-top: 44px; }

/* line 722, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hiw_sub_title {
  font-family: OpenSans-SemiBold;
  font-size: 30px;
  color: #191919;
  text-align: center;
  margin-top: 56px; }

/* line 731, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hiw_p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #191919;
  letter-spacing: 0;
  line-height: 29px;
  font-weight: 400;
  padding-left: 0px;
  margin-top: 30px; }
  @media (min-width: 320px) and (max-width: 540px) {
    /* line 731, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hiw_p {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 10px; } }

/* line 749, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hiw_b {
  font-size: 20px;
  font-weight: 800; }

/* line 754, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hiw_img {
  text-align: right;
  margin-top: 20px; }
  @media (min-width: 320px) and (max-width: 540px) {
    /* line 754, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hiw_img {
      text-align: center; } }

/* line 763, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.how_b_r {
  font-size: 18px;
  font-weight: 600;
  color: #FE5D26; }

/* line 769, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.what_title {
  font-family: OpenSans-Light;
  font-weight: 400;
  font-size: 39px;
  color: #CACACA;
  letter-spacing: 0;
  text-align: center;
  padding-top: 60px; }

/* line 780, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.air_shadow {
  -webkit-box-shadow: 0 10px 6px -6px #111;
  -moz-box-shadow: 0 10px 6px -6px #111;
  box-shadow: 0 20px 20px -20px #111; }

/* line 786, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.what_txt {
  font-family: OpenSans-Light;
  font-size: 22px;
  color: #CACACA;
  letter-spacing: 0;
  text-align: center; }

/* line 794, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_telega_btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  background-color: #0088CC;
  border-radius: 11px;
  height: 40px;
  padding-top: 4px;
  cursor: pointer;
  width: 230px;
  border: solid 2px #00699E; }
  /* line 809, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .Landing_telega_btn:hover {
    transform: scale(1.04);
    transition: transform .3s; }

/*# sourceMappingURL=Landing.css.map */