/* line 11, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 16, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
a:hover {
  color: inherit;
  text-decoration: none; }

/* line 21, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.land_header {
  background-color: #272727;
  height: 80px; }

/* line 26, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_grey-1 {
  background-color: #191919; }

/* line 30, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_grey-2 {
  background-color: #272727; }

/* line 34, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_green {
  background-color: #B9FFDD; }

/* line 38, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.white_18 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #CACACA;
  letter-spacing: 0;
  line-height: 29px; }

/* line 48, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.on_hover_green:hover {
  color: #B9FFDD; }

/* line 53, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.h1 {
  padding-top: 69px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #272727;
  letter-spacing: 0; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 53, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .h1 {
      padding-top: 22px;
      text-align: center;
      font-size: 32px; } }

/* line 69, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.h1_ru {
  font-size: 34px;
  padding-top: 69px; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 69, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .h1_ru {
      padding-top: 22px; } }

/* line 78, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #191919;
  letter-spacing: 0;
  line-height: 30px; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 78, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_txt {
      color: #CACACA;
      font-family: OpenSans-Light;
      padding-left: 20px;
      padding-right: 20px; } }

/* line 95, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.additional_sign {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #848080;
  letter-spacing: 0;
  line-height: 25px; }

/* line 104, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_hero_btn {
  background-color: #F0A202;
  border-radius: 11px;
  height: 39px;
  cursor: pointer;
  width: 230px; }
  /* line 111, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .Landing_hero_btn:hover {
    transform: scale(1.04);
    transition: transform .3s; }
    /* line 116, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .Landing_hero_btn:hover .Landing_hero_btn_in {
      width: 100%; }

/* line 123, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_hero_btn_in {
  border-radius: 11px;
  height: 36px;
  padding-top: 4px;
  background-color: #F7C358;
  border: 1px solid #F0A202;
  font-size: 18px;
  font-weight: 600;
  color: #191919;
  letter-spacing: 0;
  text-align: center; }

/* line 137, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.section_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #F0A202;
  text-align-last: left; }
  @media (min-width: 320px) and (max-width: 992px) {
    /* line 137, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .section_title {
      text-align-last: center;
      padding-top: 20px;
      padding-bottom: 20px; } }

/* line 151, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.section_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #CACACA;
  letter-spacing: 0;
  line-height: 30px; }
  @media (min-width: 320px) and (max-width: 992px) {
    /* line 151, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .section_txt {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 20px; } }

/* line 167, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #AA4465;
  text-align: center;
  padding-top: 77px;
  padding-bottom: 15px; }

/* line 177, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_red_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #AA4465;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 30px; }

/* line 187, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_grey_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #191919;
  letter-spacing: 0;
  text-align: center; }

/* line 197, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_img {
  height: 429px;
  width: auto;
  position: relative; }
  @media (min-width: 1440px) {
    /* line 197, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -65px; } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    /* line 197, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -65px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    /* line 197, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -103px; } }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 197, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      height: 300px;
      bottom: -26px; } }

/* line 224, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_img_ru {
  height: 429px;
  width: auto;
  position: relative; }
  @media (min-width: 1440px) {
    /* line 224, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img_ru {
      bottom: -65px; } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    /* line 224, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img_ru {
      bottom: -65px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    /* line 224, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img_ru {
      bottom: -129px; } }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 224, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img_ru {
      height: 300px;
      bottom: -26px; } }

/* line 249, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_image_col {
  height: 100px;
  height: auto; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 249, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_image_col {
      height: 280px; } }

/* line 259, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.side_img {
  width: calc(100% - 0px);
  height: auto;
  position: relative; }

/* line 265, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.side_img_how_it_works {
  width: calc(60% - 0px);
  height: auto;
  position: relative;
  max-width: 357px; }

@media (min-width: 1440px) {
  /* line 272, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 66px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 272, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 66px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 272, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 26px; } }

@media (min-width: 1440px) {
  /* line 287, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 105px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 287, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 125px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 287, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 25px; } }

@media (min-width: 1440px) {
  /* line 304, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_img {
    padding-top: 66px;
    padding-top: 20px;
    max-width: 331px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 304, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_img {
    padding-top: 66px;
    padding-top: 20px;
    max-width: 331px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 304, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_img {
    padding-top: 26px;
    padding-top: 20px;
    max-width: 280px !important; } }

@media (min-width: 1440px) {
  /* line 327, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 327, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 327, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 1440px) {
  /* line 352, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 0px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 352, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 0px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 352, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 0px; } }

@media (min-width: 1440px) {
  /* line 374, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 66px;
    max-width: 317px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 374, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 66px;
    max-width: 317px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 374, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 26px;
    max-width: 317px; } }

/* line 394, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.authorship_soon_paddings {
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1440px) {
    /* line 394, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 70px;
      padding-bottom: 90px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 394, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 70px;
      padding-bottom: 90px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 394, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 0px;
      padding-bottom: 0px; } }

/* line 415, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.authorship_paddings_inner {
  padding-bottom: 60px;
  padding-top: 40px; }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 415, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_paddings_inner {
      padding-bottom: 60px;
      padding-top: 0px; } }

@media (min-width: 1440px) {
  /* line 429, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 70px;
    padding-bottom: 10px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 429, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 70px;
    padding-bottom: 10px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 429, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 10px;
    padding-bottom: 10px; } }

/* line 446, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.property_container {
  padding-top: 0px;
  padding-bottom: 0px; }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 446, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_container {
      padding-bottom: 40px; } }

/* line 455, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.art_value_paddings {
  padding-top: 40px; }
  @media (min-width: 1440px) {
    /* line 455, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 80px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 455, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 80px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 455, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 50px; } }

@media (min-width: 1440px) {
  /* line 472, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 60px;
    padding-bottom: 0px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 472, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 60px;
    padding-bottom: 120px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 472, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 0px;
    padding-bottom: 70px; } }

/* line 490, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.fb_link {
  color: #F0A202;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline; }
  /* line 497, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .fb_link:hover {
    color: #7678ED;
    text-decoration: underline; }

@media (min-width: 1440px) {
  /* line 503, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .value_img_ru {
    margin-top: 90px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 503, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .value_img_ru {
    margin-top: 90px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 503, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .value_img_ru {
    padding-top: 26px; } }

/* line 518, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.footer_img {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer; }

/* line 524, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.how_it_works_paddings {
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1440px) {
    /* line 524, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_works_paddings {
      padding-top: 70px;
      padding-bottom: 90px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 524, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_works_paddings {
      padding-top: 20px;
      padding-bottom: 90px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 524, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .how_it_works_paddings {
      padding-top: 30px;
      padding-bottom: 90px; } }

/* line 545, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.property_paddings {
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1440px) {
    /* line 545, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_paddings {
      padding-top: 70px;
      padding-bottom: 90px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 545, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_paddings {
      padding-top: 70px;
      padding-bottom: 90px;
      background-color: #242424; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 545, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_paddings {
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: #242424; } }

/* line 569, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.video_button_cont {
  position: absolute;
  top: 57%;
  border-radius: 14px;
  width: 84px;
  height: 60px; }
  @media (min-width: 1440px) {
    /* line 569, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: calc(50% - 30px); } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    /* line 569, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: calc(50% - 30px); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    /* line 569, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: calc(50% + 20px); } }
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 569, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: calc(50% + 20px); } }
  @media (min-width: 320px) and (max-width: 767px) {
    /* line 569, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .video_button_cont {
      left: 156px;
      top: 54%; } }

/* line 599, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.video_btn {
  position: absolute;
  top: 0px;
  border-radius: 14px;
  width: 84px;
  height: 60px;
  background-color: #000;
  opacity: 0.6;
  cursor: pointer; }
  /* line 609, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .video_btn:hover {
    background-color: #FF0000;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    opacity: 0.8; }

/* line 618, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.play_triangle {
  position: absolute;
  top: 15px;
  left: 32px; }

/* line 624, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.video_btn_sgn {
  position: absolute;
  width: 100%;
  top: 66px;
  font-family: OpenSans-Italic;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center; }

/* line 635, /Users/mikhail_yurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.button {
  background: none; }

/*# sourceMappingURL=Landing.css.map */