/* line 11, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 16, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
a:hover {
  color: inherit;
  text-decoration: none; }

/* line 21, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.land_header {
  background-color: #272727;
  height: 80px; }

/* line 26, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_grey-1 {
  background-color: #191919; }

/* line 30, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_grey-2 {
  background-color: #272727; }

/* line 34, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.bg_green {
  background-color: #8BFFC6; }

/* line 38, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.white_18 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #CACACA;
  letter-spacing: 0;
  line-height: 29px; }

/* line 48, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.on_hover_green:hover {
  color: #8BFFC6; }

/* line 53, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.h1 {
  padding-top: 69px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #272727;
  letter-spacing: 0; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 53, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .h1 {
      padding-top: 22px;
      text-align: center;
      font-size: 32px; } }

/* line 69, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #191919;
  letter-spacing: 0;
  line-height: 30px; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 69, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_txt {
      color: #CACACA;
      font-family: OpenSans-Light;
      padding-left: 20px;
      padding-right: 20px; } }

/* line 86, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.additional_sign {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #848080;
  letter-spacing: 0;
  line-height: 25px; }

/* line 95, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_hero_btn {
  background-color: #F0A202;
  border-radius: 11px;
  height: 39px;
  cursor: pointer;
  width: 230px; }
  /* line 102, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .Landing_hero_btn:hover {
    transform: scale(1.04);
    transition: transform .3s; }
    /* line 107, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .Landing_hero_btn:hover .Landing_hero_btn_in {
      width: 100%; }

/* line 114, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.Landing_hero_btn_in {
  border-radius: 11px;
  height: 36px;
  padding-top: 4px;
  background-color: #F7C358;
  border: 1px solid #F0A202;
  font-size: 18px;
  font-weight: 600;
  color: #191919;
  letter-spacing: 0;
  text-align: center; }

/* line 128, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.section_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #F0A202;
  text-align-last: left; }
  @media (min-width: 320px) and (max-width: 992px) {
    /* line 128, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .section_title {
      text-align-last: center;
      padding-top: 20px; } }

/* line 141, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.section_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #CACACA;
  letter-spacing: 0;
  line-height: 30px; }
  @media (min-width: 320px) and (max-width: 992px) {
    /* line 141, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .section_txt {
      margin-left: 10px;
      margin-right: 10px; } }

/* line 156, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #AA4465;
  text-align: center;
  padding-top: 77px;
  padding-bottom: 15px; }

/* line 166, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_red_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #AA4465;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 30px; }

/* line 176, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.action_grey_txt {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #191919;
  letter-spacing: 0;
  text-align: center; }

/* line 186, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_img {
  height: 429px;
  width: auto;
  position: relative; }
  @media (min-width: 1440px) {
    /* line 186, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -65px; } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    /* line 186, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -65px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    /* line 186, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -103px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 186, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      bottom: -103px; } }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 186, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_img {
      height: 300px;
      bottom: -26px; } }

/* line 215, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.hero_image_col {
  height: 100px;
  height: auto; }
  @media (min-width: 320px) and (max-width: 768px) {
    /* line 215, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .hero_image_col {
      height: 280px; } }

/* line 225, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.side_img {
  width: calc(100% - 0px);
  height: auto;
  position: relative; }

/* line 231, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.side_img_how_it_works {
  width: calc(60% - 0px);
  height: auto;
  position: relative;
  max-width: 357px; }

@media (min-width: 1440px) {
  /* line 238, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 66px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 238, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 66px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 238, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .comimg_soon_img {
    padding-top: 26px; } }

@media (min-width: 1440px) {
  /* line 253, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 125px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 253, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 125px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 253, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .property_title {
    padding-top: 25px; } }

@media (min-width: 1440px) {
  /* line 270, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_img {
    padding-top: 66px;
    padding-top: 20px;
    max-width: 399px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 270, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_img {
    padding-top: 66px;
    padding-top: 20px;
    max-width: 340px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 270, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_img {
    padding-top: 26px;
    padding-top: 20px;
    max-width: 280px !important; } }

@media (min-width: 1440px) {
  /* line 293, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 293, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 293, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .coming_soon_paddings {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0px; } }

@media (min-width: 1440px) {
  /* line 318, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 0px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 318, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 0px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 318, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .how_it_section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 0px; } }

@media (min-width: 1440px) {
  /* line 340, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 66px;
    max-height: 400px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 340, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 66px;
    max-height: 400px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 340, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_img {
    padding-top: 26px;
    max-height: 300px; } }

/* line 360, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.authorship_soon_paddings {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 1440px) {
    /* line 360, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 0px;
      padding-bottom: 0px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 360, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 0px;
      padding-bottom: 0px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 360, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_soon_paddings {
      padding-top: 90px;
      padding-bottom: 0px; } }

/* line 380, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.authorship_paddings_inner {
  padding-bottom: 60px;
  padding-top: 40px; }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 380, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .authorship_paddings_inner {
      padding-bottom: 60px;
      padding-top: 0px; } }

@media (min-width: 1440px) {
  /* line 393, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 70px;
    padding-bottom: 10px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 393, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 70px;
    padding-bottom: 10px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 393, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .authorship_title_padding {
    padding-top: 10px;
    padding-bottom: 10px; } }

/* line 410, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.property_container {
  padding-top: 0px;
  padding-bottom: 0px; }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 410, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .property_container {
      padding-bottom: 40px; } }

/* line 418, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.art_value_paddings {
  padding-top: 40px; }
  @media (min-width: 1440px) {
    /* line 418, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 80px; } }
  @media (min-width: 992px) and (max-width: 1439px) {
    /* line 418, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 80px; } }
  @media (min-width: 320px) and (max-width: 991px) {
    /* line 418, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
    .art_value_paddings {
      padding-bottom: 50px; } }

@media (min-width: 1440px) {
  /* line 434, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 60px;
    padding-bottom: 120px; } }

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 434, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 60px;
    padding-bottom: 120px; } }

@media (min-width: 320px) and (max-width: 991px) {
  /* line 434, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .art_expertise_container {
    padding-top: 0px;
    padding-bottom: 70px; } }

/* line 452, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
.fb_link {
  color: #F0A202;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline; }
  /* line 458, /Users/mikhailyurchenkov/Documents/GitHub/cma_landing/scss/Landing.scss */
  .fb_link:hover {
    color: #7678ED;
    text-decoration: underline; }

/*# sourceMappingURL=Landing.css.map */